<div class="seller-auth">
    @if(!showLogin){
    <div class="sign-up">
        <h1>Seller Sign up</h1>
        <form #sellerSignup="ngForm" (submit)="signUp(sellerSignup.value)" class="common-form">
            <input class="form-input" ngModel name="name" type="text" placeholder="enter name">
            <input class="form-input" ngModel name="email" type="text" placeholder="enter email">
            <input class="form-input" ngModel name="password" type="password" placeholder="enter password">
            <button class="form-button">signup</button>
            <a class="toggle-link"(click)="toggleForm()">Already a User ? click here</a>
        </form>
    </div>
}@else{
    <!-- signin form -->
    <div class="login">
        <h1>Seller Sign In</h1>
        <form #sellerLogin="ngForm" (submit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" ngModel name="email" type="text" placeholder="enter email">
            <input class="form-input" ngModel name="password" type="password" placeholder="enter password">
            <button class="form-button">Login</button>
            <a class="toggle-link" (click)="toggleForm()">New User ? register here</a>
        </form>
    </div>
}
</div> 